body {
 color: #ffffff;
 background-color: #004400;
}
a:link {
 color: #ffff00;
}
a:active {
 color: #00ff40;
}
a:visited {
 color: #80ff80;
}

h1 {
    text-align: center;
    color: #ffff00;
}

h2 {
    text-decoration: underline;
}
   
div.title {
 text-align: center;
 background-color: #002200;
 border-style: solid;
 border-color: #008800;
}

div.language {
 text-align: center;
}

div.left {
 background-color: #006600;
 position: absolute;
 left: 0em;
 width: 11em;
 margin-top: 10px;
 margin-left: 10px;
 border-style: solid;
 border-color: #008800;
}


div.right {
 position: absolute;
 left: 12em;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
}

hr {
 width: 95%;
 background-color: #ffbb00;
}
a.index {
 text-decoration: underline;
}
div.date {
 font-weight: bold;
}

.sidemenu_child {
    margin-left: 10px;
}